<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="balanced" type="Balanced.Config.BalancedSection, Balanced" />
  </configSections>

  <balanced>
    <apiKey secret="ak-test-1H6GfXxbp2IR8QU9YQftMy31FS8QHuR2M" />
    <serviceSettings agent="mandoyo-csharp" />
  </balanced>
</configuration>
